pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('sheetname')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Excel1",
									"type": "DatasetReference",
									"parameters": {
										"sheetname": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "drop table [dbo].[Category]\ndrop table [dbo].[Date]\ndrop table [dbo].[Defect]\ndrop table [dbo].[DefectType]\ndrop table [dbo].[MaterialType]\ndrop table [dbo].[Metrics]\ndrop table [dbo].[Plant]\ndrop table [dbo].[Vendor]",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Excel1",
						"type": "DatasetReference",
						"parameters": {
							"sheetname": "Date"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "Date"
						}
					}
				]
			}
		],
		"variables": {
			"sheetname": {
				"type": "Array",
				"defaultValue": [
					"DefectType",
					"Vendor",
					"Category",
					"Plant",
					"Metrics",
					"MaterialType",
					"Defect"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-10-30T08:51:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}